.parent_div{
    font-family: "Poppins", "Roboto", Arial, sans-serif;
}
.logo{
    padding-right: 30px;
}
.a_elements{
    color: #625c5c;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 500;
}
.nav_container, .links_container, .signin_container {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
.nav_container{
    padding:0px 10px ;
}
.middle_container{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}
.middle1{
    display: flex; justify-content: flex-end; width: 100%;
}
.middle2{
    display: flex; justify-content: flex-start; width: 96%;
}
.home_nav{
    display: flex; justify-content: space-around; height: 80px; align-items: center;
}
.list_cont{
    list-style: none; display: flex;
}
.separator1::after {
    content: "";  
    margin-left: 5px;
}
.separator2::before {
    content: ">";  
    margin-right: 5px;
}
.home_word {
    color : rgb(17, 104, 175); 
    font-size: 10px;           
}
.training_word{
    font-size: 10px;   
    color: #595353;
}
.bottom_section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffebcd;
    width:90%;
    margin:10px auto;
}
.content_section {
    height: 55vh;
    text-align: center;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    gap:20px;
}
.content_section * {
    margin: 0;
    padding:0;
}
.editor_image{
    height: 10vh;
    width: 10vh;
}
.heading {
    font-weight: 600;
    font-size: 35px;
}
.sub_heading{
    color: #5a5656;
    text-align: center;
    font-size: 14px;
}
.playbutton_section{
    display: flex;
    align-items: center;
    justify-content: center;
}    
.playbutton_section img {
    margin-right: 8px;
    width: 25px;
    height: 16px;
}
.startnow_button{
    font-weight: 500;
    font-size: 11px;
    color : rgb(51, 142, 216); 
}